@import '../core/Variables';

@media screen and (min-width: 768px) {
    .mainProjects {
        //max-width: 980px;
        margin-inline: auto;
        //text-align: center;
        //display: grid;
        //grid-template-columns: 6fr 5fr;
        //gap: 2rem;
    }
}


.heroProjects {
    margin-bottom: 3rem;
    text-align: center;
}

@media screen and (min-width: 768px) {
    // .heroProjects {
    //     grid-column: span 2;
    // }
}

.heroProjects .projectsTitle {
    font-family: $font-title-big;
    margin-bottom: 8px;
    color: #474973;
    font-size: 60px;
}

.heroProjects .heroProjects__text {
    font-family: $font-text-big;
    color: #474973;
    text-align: center;
    margin-inline: 4rem;
    margin-bottom: 1.8rem;
    font-size: 30px;
}


.projects-buttons {
    display: flex;
    justify-content: center;
    gap: 30px;

    &__landing {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        padding: 12px 22px;
        background-image: linear-gradient(145deg, $color-dark-lilac, #c0b7e8);
        color: $color-white;
        font-family: $font-button;
        text-decoration: none;
        border-radius: 25px;
        //border: 2px solid $color-white;
        border: none; 
        transition: background-color 0.3s ease, color 0.3s ease;
        cursor: pointer;

        &:hover {
            background-color: $color-dark-lilac;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
            transform: scale(1.05);
            border: 2px solid lighten($color-dark-lilac, 10%);
        }
    }

    &__newCard {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        padding: 12px 22px;
        //background-image: linear-gradient(145deg, $color-dark-lilac, #c0b7e8);
        background-color: $color-white;
        //color: $color-white;
        color: $color-black;
        font-family: $font-button;
        text-decoration: none;
        border-radius: 25px;
        border: 2px solid $color-white;
        transition: background-color 0.3s ease, color 0.3s ease;
        cursor: pointer;

        &:hover {
            //background-color: $color-dark-lilac;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
            transform: scale(1.05);
            border: 2px solid lighten($color-dark-lilac, 10%);
        }
    }
}

.projectsList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
