:root {
  background-color: bisque;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.cardDetailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.cardDetailsContainer .projectImg {
  width: 60%;
  aspect-ratio: 1 / 0.7;
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.cardDetailsContainer .cardDetails {
  margin-inline: 20px;
  margin-top: -80px;
  z-index: 1;
}

.cardDetails {
  width: 50%;
  display: grid;
  grid-template-columns: 40% 60%;
  color: black;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(247, 247, 247, 0.8));
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid #E0E0E0;
  margin-left: 100px;
}

.cardDetails .cardDetails__projectTitle {
  grid-column: 2;
  position: relative;
  margin: 15px 10px 1rem 0;
  text-align: center;
  text-transform: capitalize;

}

.cardDetails .cardDetails__projectTitle::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 2px;
  background-color: black;
}

.cardDetails .cardDetails__projectTitle--text {
  position: relative;
  padding-inline: 0.1em;
  z-index: 1;
  color: inherit;
}

.cardDetails .cardDetails__author {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.cardDetails .cardDetails__authorPhoto {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  margin-bottom: 0.8rem;
  transition: transform 0.3s ease;
}

.cardDetails .cardDetails__authorPhoto:hover {
  transform: scale(1.1);
}

.cardDetails .cardDetails__job {
  margin-bottom: 0.2rem;
}

.cardDetails .cardDetails__name {

  margin-bottom: .2rem;
}

.cardDetails .cardDetails__project {
  margin-right: 10px;
}

.cardDetails .cardDetails__slogan {

  margin-top: -.2rem;
  margin-bottom: .8rem;
}

.cardDetails .cardDetails__descriptionTitle {
  font-weight: inherit;
  text-transform: capitalize;
  font-weight: bold;
}

.cardDetails .cardDetails__technicalInfo {
  display: grid;
  justify-content: end;
  grid-template-columns: 1fr 2rem 2rem;
  gap: .5em;
  margin-block: 1.8rem;
}



.iconDetails {
  width: 1.6rem;
  height: 1.6rem;
  color: transparent;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 5px 0 grey;
  transition: opacity 0.3s ease;
}

.iconDetails:hover {
  opacity: 0.7;
}

.iconDetails__www {
  background-image: url('/images/globe-solid.svg');
}

.iconDetails:hover {
  transform: scale(1.1);
}

.iconDetails__github {
  background-image: url('/images/github.svg');
}

.buttonDetails-reset {
  background-color: lightblue;
  color: white;
  padding: 10px 20px;
  font-size: 0.9rem;

  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.buttonDetails-reset:hover {
  background-color: (lightblue, 10%);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.buttonDetails-reset:focus {
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}